{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="topbar"><a class="backbtn" href="javascript:window.history.back();" aria-hidden="true"><i class="fa fa-arrow-left" aria-hidden="true"></i></a><span class="countryname">{{ countryname }}</span></div>
  <div class="row">
    {% for genre in genres %}
      <div class="col-lg-4">
        <div class="card genre" style="background-image:url('{{genre.imglink}}')">
          <div class="genrewrapper">
            <a class="card-body" href="/genre/{{genre.name}}">
              <h5 class="card-title genretitle">{{ genre.name }}</h5>
              <p class="card-text genredesc">{{ genre.description }}</p>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}