#page-top {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    flex-grow: 1;
}